body {
    background-color: antiquewhite;
}

.title-bar {
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 500;
}

.container-calc {
    margin: 25% auto 5% auto;
    background-color: brown;
}

.form-control {
    font-weight: 500;
}

.form-text {
    font-weight: 500;
    font-size: larger;
}

@media (max-width: 575px) {
    .container-calc {
        margin: 0;
    }
}