body {
    background-color: antiquewhite;
}

.title-bar {
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 500;
}

.container-calc {
    margin: 25% 5% 5% 5%;
    background-color: brown;
}